
.login-view {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgb(45, 138, 167);
    position: absolute;
    height: 50%;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
    display: flex;
}
