
.CreateLobbyView-waiting {
  background-color: white;
  height: auto;
  width: 100%;
  min-height: 300px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.CreateLobbyView-waiting h1{
  font-size: 28px;
}

.CreateLobbyView-waiting h2{
  margin-top: 20px;
  font-size: 16px;
}

@media screen and (max-width: 960px) {
  .CreateLobbyView-waiting {
    height: 100%;
  }
}