.JoinedUser-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.JoinedUser-Regular:nth-child(2),
.JoinedUser-Regular:nth-child(3),
.JoinedUser-Regular:nth-child(6),
.JoinedUser-Regular:nth-child(7){
    background-color: rgb(230, 230, 230);
}

.JoinedUser-container img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.JoinedUser-container h3 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
}

.JoinedUser-container h5 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

.leader-icon {
    position: absolute;
    top: 3px; left: 3px;
}

.JoinedUser-pencil {
    position: absolute;
    top: 3px; right: 3px;
}

.JoinedUser-Correct {
    background-color: #96FF96;
}


@media screen and (max-width: 960px) {
    .JoinedUser-Regular:nth-child(2),
    .JoinedUser-Regular:nth-child(4),
    .JoinedUser-Regular:nth-child(5),
    .JoinedUser-Regular:nth-child(7){
        background-color: rgb(230, 230, 230);
    }
    .JoinedUser-Regular:nth-child(1),
    .JoinedUser-Regular:nth-child(3),
    .JoinedUser-Regular:nth-child(6),
    .JoinedUser-Regular:nth-child(8){
        background-color: white;
    }
}

